@model UserClientAppNetworkForPhotographers.Models.Data.Dtos.Favourites.GetFavouritesDto

<div class="container p-3 mt-5 pt-4">

    <div class="containerParentFlexCenter">
        <h3>Избранное</h3>
    </div>

    <div class="containerParentFlexCenter mt-4">
        <div class="containerCenter">

            <ul class="nav nav-tabs" id="favouritesTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts"
                            type="button" role="tab" aria-controls="main" aria-selected="false">
                        Посты
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="blogs-tab" data-bs-toggle="tab" data-bs-target="#blogs"
                            type="button" role="tab" aria-controls="other" aria-selected="false">
                        Блоги
                    </button>
                </li>
            </ul>

        </div>
    </div>

    <div class="containerParentFlexCenter mt-4">
        <div class="containerCenter">
            <div class="tab-content" id="favouritesTabContent">

                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    @if(Model.Posts.Count == 0)
                    {
                        <div class="ps-2">
                            <p>У вас нет избранных постов</p>
                        </div>
                    }
                    else
                    {
                        <div id="listFavouritesPosts">
                            @(await Html.PartialAsync("~/Views/ContentsList/List.cshtml", Model.Posts))
                        </div>

                        <div class="containerParentFlexCenter">
                            <button id="btnMoreFavouritesPosts" type="button" class="btn btn-outline-dark mb-4"
                                    onclick="moreFavouritesPosts()">
                                Показать ещё
                            </button>
                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="blogs" role="tabpanel" aria-labelledby="blogs-tab">
                    @if (Model.Blogs.Count == 0)
                    {
                        <div class="ps-2">
                            <p>У вас нет избранных блогов</p>
                        </div>
                    }
                    else
                    {
                        <div id="listFavouritesBlogs">
                            @(await Html.PartialAsync("~/Views/ContentsList/List.cshtml", Model.Blogs))
                        </div>

                        <div class="containerParentFlexCenter">
                            <button id="btnMoreFavouritesBlogs" type="button" class="btn btn-outline-dark mb-4"
                                    onclick="moreFavouritesBlogs()">
                                Показать ещё
                            </button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@(await Html.PartialAsync("~/Views/ContentActions/PanelModals.cshtml"))

<script src="~/js/contentPanel.js" asp-append-version="true"></script>
<script src="~/js/contentsList.js" asp-append-version="true"></script>
<script src="~/js/favourites.js" asp-append-version="true"></script>
<script>
    initFavourites(@(Model.Posts.Count), @(Model.Blogs.Count));
</script>
