@model UserClientAppNetworkForPhotographers.Models.Data.Dtos.ShowHomeDto

<div class="container p-3 mt-5 pt-4">

    <div class="containerParentFlexCenter mt-4">
        <div class="containerCenter" style="position: relative">

            <ul class="nav nav-tabs" id="homeTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="newsTab" data-bs-toggle="tab" data-bs-target="#news"
                            type="button" role="tab" aria-controls="main" aria-selected="false">
                        Новости
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="othersTab" data-bs-toggle="tab" data-bs-target="#others"
                            type="button" role="tab" aria-controls="other" aria-selected="false">
                        Другое
                    </button>
                </li>
            </ul>

            <div class="divBtnFilter">
                <button id="btnFilterHomeNews" class="btnImg" data-bs-toggle="modal" data-bs-target="#modalFilterHomeNews">
                    <img class="contentImg" src="~/image/filter.png">
                </button>

                <button id="btnFilterHomeOthers" class="btnImg" data-bs-toggle="modal"
                        data-bs-target="#modalFilterHomeOthers" style="display:none">
                    <img class="contentImg" src="~/image/filter.png">
                </button>
            </div>
        </div>
    </div>

    <div class="containerParentFlexCenter mt-4">
        <div class="containerCenter">
            <div class="tab-content" id="homeTabContent">

                <div class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
                    <div id="emptyHomeNews" class="ps-2" style="display:none">
                        <p>Ничего не найдено</p>
                    </div>

                    <div id="listHomeNews">
                        @(await Html.PartialAsync("~/Views/ContentsList/List.cshtml", Model.News))
                    </div>

                    <div class="containerParentFlexCenter">
                        <button id="btnMoreHomeNews" type="button" class="btn btn-outline-dark mb-4"
                                onclick="moreHomeNews()" style="display:none">
                            Показать ещё
                        </button>
                    </div>
                </div>

                <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
                    <div id="emptyHomeOthers" class="ps-2" style="display:none">
                        <p>Ничего не найдено</p>
                    </div>

                    <div id="listHomeOthers">
                        @(await Html.PartialAsync("~/Views/ContentsList/List.cshtml", Model.Others))
                    </div>

                    <div class="containerParentFlexCenter">
                        <button id="btnMoreHomeOthers" type="button" class="btn btn-outline-dark mb-4"
                                onclick="moreHomeOthers()" style="display:none">
                            Показать ещё
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@(await Html.PartialAsync("~/Views/ContentActions/PanelModals.cshtml"))
@(await Html.PartialAsync("~/Views/Home/HomeModals.cshtml", Model.CategoryDirs))

<script src="~/js/contentPanel.js" asp-append-version="true"></script>
<script src="~/js/contentsList.js" asp-append-version="true"></script>
<script src="~/js/photographersList.js" asp-append-version="true"></script>
<script src="~/js/home.js" asp-append-version="true"></script>
<script>
    window.onload = function () {
        initHome(@(Model.News.Count), @(Model.Others.Count), @(Model.ChooseCategory));


        //(function () {
        //    // Восстанавливаем состояние табов при загрузке страницы
        //    const savedTab = localStorage.getItem('activeTab');
        //    if (savedTab) {
        //        document.querySelector('.nav-tabs button[data-bs-target="' + savedTab + '"]').click();
        //    } else {
        //        // Получаем текущий активный таб
        //        const activeTab = document.querySelector('.nav-tabs .active').getAttribute('data-bs-target');

        //        // Сохраняем состояние табов в localStorage
        //        localStorage.setItem('activeTab', activeTab);

        //        // Добавляем запись в историю браузера при загрузке страницы
        //        history.pushState({ tabId: activeTab }, '');
        //    }
        //})();

        //const tabs = document.querySelectorAll('.nav-tabs button');
        //tabs.forEach(function (tab) {
        //    tab.addEventListener('click', function (e) {
        //        // Получаем идентификатор соответствующего элемента содержимого таба
        //        const tabId = this.getAttribute('data-bs-target');

        //        // Добавляем запись в историю браузера при переключении таба
        //        history.pushState({ tabId: tabId }, '');

        //        // Сохраняем состояние табов в localStorage при каждом переключении
        //        const activeTab = this.getAttribute('data-bs-target');
        //        localStorage.setItem('activeTab', activeTab);
        //    });
        //});

        //window.addEventListener('popstate', function (e) {
        //    if (e.state && e.state.tabId) {
        //        const tabId = e.state.tabId;
        //        document.querySelector('.nav-tabs a[href="' + tabId + '"]').classList.add('active');
        //        document.querySelectorAll('.tab-pane').forEach(function (tabContent) {
        //            tabContent.classList.remove('show', 'active');
        //        });
        //        document.querySelector(tabId).classList.add('show', 'active');
        //    } 
        //});
    };
</script>
