@model UserClientAppNetworkForPhotographers.Models.Data.Dtos.Contents.GetContentDto

<div class="pt-4 mt-4" style="position: relative">

    <div class="divBlogMainPhoto mt-2">
        <img class="blogMainPhoto" src=@(Url.Action("GetBlogMainPhoto", "Common", new { name = Model.BlogMainPhoto}))>
    </div>

    <div class="container divBlogMainBody mt-5 pt-5">
        <div class="containerParentFlexCenter pt-5">
            <div class="containerCenter p-4 mt-5 border box-shadow rounded" style="background-color: white">
                <div>
                    <h3><strong id="blogTitle">@(Model.Title)</strong></h3>
                </div>

                <div>@(Html.Raw(Model.BlogBody))</div>
            </div>
        </div>
    </div>
</div>


<div class="container pt-2 pb-2">

    <div class="containerParentFlexCenter">
        <div class="containerCenter">
            <div>
                @(await Html.PartialAsync("~/Views/ContentActions/PanelSimple.cshtml", Model))
            </div>

            <div>
                <a asp-controller="Profiles" asp-action="Photographer" asp-route-id=@(Model.Photographer.Id)>
                    <div class="containerParentFlexMany mt-4">
                        @if (Model.Photographer.PhotoProfile == null)
                        {
                            <div class="divForPhoto"><img class="profilePhoto" src="~/image/emptyProfile.png"></div>
                        }
                        else
                        {
                            <div class="divForPhoto">
                                <img class="profilePhoto" src=@(Url.Action("GetPhotographerPhoto", "Common", new { name = Model.Photographer.PhotoProfile}))>
                            </div>
                        }

                        <div class="divAfterPhoto">
                            <p><strong>@(Model.Photographer.Username)</strong></p>
                            <p>@(Model.Photographer.Name)</p>
                        </div>
                    </div>
                </a>

                <div class="mt-4"><pre>@(Model.Title)</pre></div>

                <div class="mt-4"><strong>Загружено: </strong>@(Model.CreatedAt)</div>

                <div class="mt-3">
                    <strong>Категории: </strong>
                    @foreach (var category in Model.Categories)
                    {
                        <a asp-controller="Home" asp-action="IndexWithCategory" asp-route-id=@(category.Id)
                           class="btn btn-outline-dark" style="display: inline-block">
                            @(category.Name)
                        </a>
                    }
                </div>

                <div class="mt-5">
                    @(await Html.PartialAsync("~/Views/ContentActions/Comments.cshtml", Model))
                </div>
            </div>
        </div>
    </div>
</div>

@(await Html.PartialAsync("~/Views/ContentActions/PanelModals.cshtml"))

<script src="~/js/contentPanel.js" asp-append-version="true"></script>
<script src="~/js/photographersList.js" asp-append-version="true"></script>
