@model EmployeeClientAppNetworkForPhotographers.Models.Account.UserRegister

<div class="container pt-4 pb-5">

    <div class="containerParentFlexCenter">
        <div class="containerCenterMini">

            <h3>Добавление сотрудника</h3>
            <hr />

            @using (Html.BeginForm("Create", "Employees", FormMethod.Post))
            {
                <div class="form-horizontal">

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.Role, ViewBag.RoleType as SelectList, null, htmlAttributes: new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger listError" })

                    <div>
                        <input type="submit" value="Добавить" class="btn btn-outline-success" />
                        <a class="btn btn-outline-dark ms-2" asp-controller="Employees" asp-action="Index">К списку</a>
                    </div>

                </div>
            }
        </div>
    </div>

</div>